In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('/content/sample_data/california_housing_test.csv')
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [ ]:
x = dt.drop('median_income',axis=1)
y = dt['median_income']
print('Shape of x=',x.shape)
print('Shape of y',y.shape)

Shape of x= (3000, 8)
Shape of y (3000,)

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=5,random_state=10)

In [ ]:
print('Shape of x train',x_train.shape)
print('Shape of x test',x_test.shape)
print('shape of y tarin',y_train.shape)
print('shape of y test',y_test.shape)

Shape of x train (2995, 8)
Shape of x test (5, 8)
shape of y tarin (2995,)
shape of y test (5,)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
sc.fit(x_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

In [ ]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
lr.coef_

array([ 0.06554333,  0.00691458, -0.27252612,  2.15959954, -2.50888862,
       -0.04384981,  0.39448175,  1.09762614])

In [ ]:
lr.intercept_

3.8067920534223703

In [ ]:
lr.predict([x_test[0,:]])

array([5.13326836])

In [ ]:
lr.predict(x_test)

array([5.13326836, 2.62862846, 3.51525289, 4.48436831, 3.22404663])

In [ ]:
y_test

1779    5.5842
341     2.3077
1276    4.9926
1012    4.4122
470     3.1765
Name: median_income, dtype: float64

In [ ]:
lr.score(x_test,y_test)

0.6514489519170993